<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="wrapper">
      <h1>My Todo</h1>
      <!-- タブ Begin -->
      <div id="tab">
        <div class="tab-list" :class="{'-active': filter === 'inbox'}"><button @click="setFilter('inbox')">インボックス</button></div>
        <div class="tab-list" :class="{'-active': filter === 'completed'}"><button @click="setFilter('completed')">完了したタスク</button></div>
      </div>
      <!-- タブ End -->
      <!-- Todo入力フォーム Begin -->
      <form id="input-form" @submit.prevent="handleSubmit">
        <div class="input-text">
          <label for="input-text">Todo</label>
          <input
          v-model="text"
          type="text"
          id="input-text"
          name="todo-text"
          placeholder="牛乳を買う"
          />
        </div>
        <div class="submit">
          <button type="submit" :disabled="disabled">登録</button>
        </div>
      </form>
      <!-- Todo入力フォーム End -->
      <!-- Todoリスト Begin -->
      <table id="todo-table">
        <tbody id="todo-main">
          <tr v-for="todo in filterTodos" :key="todo.id">
            <!-- todo.doneがtrue(完了)ならクラス名に-activeを付与する -->
            <td class="cell-done"><label :class="{'-active' : todo.done}"><input type="checkbox" @click="toggleTodo(todo.id)"></label></td>
            <td class="cell-text" v-if="todo.isEditing">
              <input v-model="todo.text"></input>
              <button @click="saveTodo(todo.id)">保存</button>
            </td>
            <td class="cell-text" v-else @click="editTodo(todo.id)">{{todo.text}}</td>
            <td class="cell-created-at">{{formatDate(todo.createdAt)}}</td>
          </tr>
        </tbody>
      </table>
      <!-- Todoリスト End -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
