* {
    font-family: "Nico Moji";
}

h1{
    margin-top: 15%;
    text-align: center;
    font-size: 70px;
}

p{
    text-align: center;
    font-size: 40px;
}

.container {
    text-align: center;
    margin-top: 5%;
}

button {
    display: block;
    display: inline-block;
    padding: 2%;
    margin: 2%;
}

#win{
    color: red;
}

#lose{
    color: blue;
}